* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
button {
  cursor: pointer;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  margin: 5px 0;
  outline: none;
  font-size: 16px;
}
button:hover {
  transform: scale(1.05);
}
.google-btn,
.facebook-btn {
  background-color: white;
}
/* .facebook-btn {
   background: rgb(0, 102, 255); 
  background-color: white;
} */
.btn {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: black;
}
.btn img {
  width: 20px;
}

.container {
  padding: 1px 1px;
  border-radius: 10px;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  gap: 2 0px;
  margin: auto;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo {
  font-size: 49px;
  padding: 20px 0px 0px 0px;
  /* color : orange; */
}
.signup-link {
  color: blue;
  text-decoration: none;
  font-weight: 600;
}
.login-link {
  color: blue;
  text-decoration: none;
  font-weight: 600;
}
.copyright {
  color: grey;
  margin-top: 30px;
  font-size: 12px;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.right img,
.left img {
  max-width: 80%; /* adjust the value to your liking */
}

.google-btn {
  border: 1px solid rgba(162, 162, 162, 0.595);
}
.screen {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: auto;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.orLogin {
  width: 100%;
  text-align: center;
  color: grey;
}
input {
  padding: 7px 10px;
  font-size: 12px;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgba(160, 160, 160, 0.598);
}
.login-btn {
  background-color: black;
  color: white;
}
.signup-btn {
  background-color: black;
  color: white;
}
.error {
  font-size: 13px;
  color: red;
}
